<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Applying for a Job</title>
    <%=stylesheet_link_tag 'application' %>
     <%=stylesheet_link_tag 'school' %>
</head>

<body>

 
<div class="container">
<%= form_tag(apply_path, :method => :post,:enctype =>"multipart/form-data",:id => 'form' ,:name => "form" ,:onsubmit => "return validateForm()") do%>


    <div class="row">
      <h4> Application Info</h4>
      
      <div class="input-group input-group-icon">   
            <%= form.text_field :employee_name, id: :employee_name, placeholder: "Full Name"%>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>

  
      <div class="input-group input-group-icon">
            <%= form.text_field :email, id: :email, placeholder: "Email"%>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      
      <div class="input-group input-group-icon">
             <%= form.text_field :telephone_no, id: :telephone_no, placeholder: "Phone Number"%>
        <div class="input-icon"><i class="fa fa-phone"></i></div>
      </div>
    
    <div class="input-group">
       <label for="cv_path">CV</label> <%= file_field_tag "upload cv (pdf)" , "accept"=> ".pdf" %>
    </div>
       
    
    <div class="actions">
    <%= submit_tag "Apply" %>
  </div>

  <% end %>
    
    
    
    
    </div>
</div>
</body>
<html>
<script>
function validateForm() {
    var name = document.forms["form"]["employee_name"].value;
    var email = document.forms["form"]["email"].value;
    var position = document.forms["form"]["position"].value;
    var phone = document.forms["form"]["telephone_no"].value;
    var cv = document.forms["form"]["cv_path"].value;
    var atpos = email.indexOf("@");
    var dotpos = email.lastIndexOf(".");
    if ((name == "") || ((email == "") || atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length ) ||( position== "") ||( phone== "" || Number.isNaN(phone)) ||(cv == "")) 
    {
        alert("Everything must be filled");
        return false;
    }
}
</script>